.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.name {
  margin-top: 10rem;
  padding: 1rem;
  font-size: 10rem;
  font-family: "Teko", sans-serif;
}

.titles {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
}

.titles,
.name {
  text-shadow: 0rem 0rem 5rem black;
}
