.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 2rem;
  background-color: #240090;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-title {
  grid-column: 1 / 2;
  margin-left: 1rem;
}

.nav-title .title {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links {
  grid-column: 2 / 3;
  display: flex;
}

.nav-links .links {
  text-decoration: none;
  color: whitesmoke;
  margin: 0.5rem;
  font-size: 1.875rem;
  font-family: "Teko", sans-serif;
  align-self: end;
}

.nav-socials {
  grid-column: 3 / 4;
  display: flex;
  justify-self: right;
  justify-content: right;
  flex-direction: row;
}

.nav-socials img {
  height: 1.875rem;
  margin-right: 1rem;
}
